<div class="container-fluid">
  <div class="row">
    <h1 class="page-header">Books</h1>
    <div class="container-fluid">
      <div class="form-inline">
        <input class="form-control" style="margin: 5px" ng-model="ISBN" placeholder="ISBN" type="text">
        <input class="form-control" style="margin: 5px" ng-model="title" placeholder="Title" type="text">
        <input class="form-control" style="margin: 5px" ng-model="publisherId" placeholder="Publisher Id" type="hidden">
        <input class="form-control" style="margin: 5px" ng-model="publicationDate" placeholder="Publication Date" type="text">
        <input class="form-control" style="margin: 5px" ng-model="description" placeholder="Description" type="text">
        <input class="form-control" style="margin: 5px" ng-model="language" placeholder="Language" type="text">
        <input class="form-control" style="margin: 5px" ng-model="place" placeholder="Place" type="text">
        <input class="form-control" style="margin: 5px" ng-model="numCopies" placeholder="Num Copies" type="text">
        <input class="form-control" style="margin: 5px" ng-model="authors" placeholder="Authors separate by ','" type="text">
      </div>
      <button class="btn btn-success pull-right" style="margin-bottom: 5px" ng-click="addBook()" type="submit">Add Book</button>
    </div>
    <table class="table table-striped table-bordered table-hover" id="resultBooksTable">
      <thead>
        <tr>
          <th>ISBN</th>
          <th>Title</th>
          <th>Publication Date</th>
          <th>Description</th>
          <th>Language</th>
          <th>Place</th>
          <th>Num copies</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody ng-repeat="i in allBooks">
        <tr>
          <td>{{i.isbn}}</td>
          <td>{{i.title}}</td>
          <td>{{i.publication_date.date.substring(10,0)}}</td>
          <td>{{i.description}}</td>
          <td>{{i.language}}</td>
          <td>{{i.place}}</td>
          <td>{{i.num_copies}}</td>
          <td>
            <input "Are you sure?" class="btn btn-danger" confirm? ng-click="deleteBook(i.id, i.title)" type="button" value="Delete">
          </td>
        </tr>
      </tbody>
    </table>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
